Market_research_Agent ...json
{
  "name": "Market_research_Agent",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.searchapi.io/api/v1/search?api_key=c2gUk8quqKmgfZdH3NHmxxxi&engine=google_trends_trending_now&geo=IN",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ],
      "id": "85058f12-3021-4833-bc11-534422684592",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ERI1SVGbFCRdIDKARZVRRJfUY2Odm30dBHVEKWQBUcs",
          "mode": "list",
          "cachedResultName": "trending topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ERI1SVGbFCRdIDKARZVRRJfUY2Odm30dBHVEKWQBUcs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ERI1SVGbFCRdIDKARZVRRJfUY2Odm30dBHVEKWQBUcs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1000,
        0
      ],
      "id": "b9d7e2b5-e2d3-406a-95bc-515ea652d80f",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IiYOelxoDyErVSw9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "trends",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        540,
        0
      ],
      "id": "a866cb8f-7b1c-43e8-9e14-80cdb15ca024",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fce1cb53-45f2-4cf8-939b-5511316cf91c",
              "leftValue": "={{ $json.position }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        0
      ],
      "id": "32127458-2d32-4a5d-b0bb-9fcd450306e4",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f0843ab9-3f3b-4cf7-a552-99a830bdd134",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "526c13927b2f905253c5bbd08b80c49623314fc6b913cd07ec3a66d523bc6138"
            },
            {
              "name": "engine",
              "value": "youtube"
            },
            {
              "name": "search_query",
              "value": "={{ $json.keywords }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        300
      ],
      "id": "6648db04-f978-444b-bfa0-08e8d6707eee",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "video_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "id": "93978a1c-cede-4d38-9162-d134e902a43b",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ERI1SVGbFCRdIDKARZVRRJfUY2Odm30dBHVEKWQBUcs",
          "mode": "list",
          "cachedResultName": "Youtube",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ERI1SVGbFCRdIDKARZVRRJfUY2Odm30dBHVEKWQBUcs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ERI1SVGbFCRdIDKARZVRRJfUY2Odm30dBHVEKWQBUcs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.link }}",
            "Topic": "={{ $json.title }}\n",
            "channel": "={{ $json.channel.name }}",
            "uploaded": "={{ $json.published_date }}",
            "Views": "= {{ $json.views }}",
            " title": "={{ $json.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " title",
              "displayName": " title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Views",
              "displayName": "Views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "uploaded",
              "displayName": "uploaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1000,
        280
      ],
      "id": "df07b0f1-a482-4997-ae50-ba3fdec27e3d",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IiYOelxoDyErVSw9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "64aeb59a-6dc0-4b8e-967a-c9b45fcd8a65",
              "leftValue": "={{ $json.position_on_page }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        300
      ],
      "id": "4b80e5da-1dbc-4863-b3fa-50a2f920f9dd",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "63457af0-ed39-466c-8574-2feab281e83f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ea3aa05b8a8884b61c0f5e1affda4d8e5bdb2e2276cfe0048357755bba954a9"
  },
  "id": "FqXjaNjxzzUddXFx",
  "tags": []
}